@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6%;
    --primary: 145 21% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 87 31% 49%;
    --secondary-foreground: 0 0% 6%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 348 71% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 6%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 348 71% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 94%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 94%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 94%;
    --primary: 143 21% 71%;
    --primary-foreground: 0 0% 0%;
    --secondary: 87 31% 51%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 94%;
    --accent: 348 71% 65%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 348 71% 60%;
  }
}
